<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Uczeń</th>
            {% for classBlock in classBlocks %}
            <th scope="col">{{ classBlock.startDate | date('d-m')}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
            <tr>
                <th scope="row">{{ student.forename }} {{ student.surname }}</th>
                {% for classBlock in classBlocks %}
                <td>
                    <select class="presence-selector" data-student="{{student.id}}" data-classblock="{{classBlock.id}}">
                        {% for presenceValue in presenceValues %}
                            {% if presences[student.id][classBlock.id].presencevalue.id == presenceValue.id %}
                            <option value="{{presenceValue.id}}" selected="selected">{{presenceValue.content}}</option>
                            {% else %}
                            <option value="{{presenceValue.id}}">{{presenceValue.content}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>