<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Imię</th>
                <th scope="col">Nazwisko</th>
                <th scope="col">Opcje</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr class='clickable-row' data-href='/subject/{{ subjectName.id }}/group/{{ subjectGroup.id }}/student/{{ student.id }}'>
                    <th scope="row">{{ student.id }}</th>
                    <td>{{ student.forename }}</td>
                    <td>{{ student.surname }}</td>
                    <td>
                        <div class="btn-group" role="group">
                            {% if is_granted('ROLE_USER') %}
                            <!-- Wyświetl opcję związane z daną produkcją dostępne dla użytkownika -->
                            {% endif %}
                            {% if is_granted('ROLE_TEACHER') %}
                            <!-- Wyświetl opcję związane z daną produkcją dostępne dla administratora -->
                            <a href="/subject/{{subjectName.id}}/group/{{subjectGroup.id}}/student/{{student.id}}/edit" class="btn btn-primary btn-sm mr-1"/>Edytuj</a>
                            <a href="/subject/{{subjectName.id}}/group/{{subjectGroup.id}}/student/{{student.id}}/remove" class="btn btn-danger btn-sm"  onclick="return confirm('Jesteś pewien?')"/>Usuń</a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>