<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Ocena</th>
            <th scope="col">Waga</th>
            <th scope="col">Typ</th>
            <th scope="col">Nauczyciel</th>
            <th scope="col">Opcje</th>
        </tr>
    </thead>
    <tbody>
        {% for grade in grades %}
            <tr>
                <th scope="row">{{ grade.id }}</th>
                <td>{{ grade.gradeValue.content }}</td>
                <td>{{ grade.gradeType.weight }}</td>
                <td>{{ grade.gradeType.name }}</td>
                <td>{{ grade.teacher.forename }} {{ grade.teacher.surname }}</td>
                <td>
                    <div class="btn-group" role="group">
                        {% if is_granted('ROLE_USER') %}
                        <!-- Wyświetl opcję związane z daną produkcją dostępne dla użytkownika -->
                        {% endif %}
                        {% if is_granted('ROLE_TEACHER') %}
                        <!-- Wyświetl opcję związane z daną produkcją dostępne dla administratora -->
                        <a href="/subject/{{subjectName.id}}/group/{{subjectGroup.id}}/student/{{student.id}}/grade/{{ grade.id }}/edit" class="btn btn-primary btn-sm mr-1"/>Edytuj</a>
                        <a href="/subject/{{subjectName.id}}/group/{{subjectGroup.id}}/student/{{student.id}}/grade/{{ grade.id }}/remove" class="btn btn-danger btn-sm"  onclick="return confirm('Jesteś pewien?')"/>Usuń</a>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>