
{% extends 'base.html.twig' %}

{% block title %}Edutuj grupe{% endblock %}

{% block body %}
<div class="container">
    {# <ol class="breadcrumb p-0">
        <li class="breadcrumb-item"><a href="#">Strona główna</a></li>
        <li class="breadcrumb-item"><a href="#">{{ subjectName.content }}</a></li>
        <li class="breadcrumb-item active"><a href="#">Edycja grupy</a></li>
    </ol> #}

    <h1 class="mt-5 mb-3">Edytuj grupę</h1>
    {{ form_start(form) }}

        <div class="well" id="teacher_list" data-prototype="{{ form_widget(form.teacher.vars.prototype)|e('html_attr') }}">
            {{ form_label(form.teacher) }}
            {% for row in form.teacher %}
                <div class="teacher-row">
                    {{ form_widget(row) }}
                </div>
            {% endfor %}
        </div>

        {{ form_row(form.save) }}
        {{ form_row(form._token) }}

    {{ form_end(form, {'render_rest': false}) }}
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}