<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nazwa</th>
            <th scope="col">Nauczyciele</th>
        </tr>
    </thead>
    <tbody>
        {% for group in subjectGroups %}
            <tr class='clickable-row' data-href='/subject/{{ subjectName.id }}/group/{{ group.subjectgroup.id }}'>
                <th scope="row">{{ group.id }}</th>
                <td>{{ group.subjectgroup.name }}</td>
                <td>
                {% for teacher in group.teacher %}
                    {{ teacher.forename }} {{ teacher.surname }}{% if not loop.last %}, {% endif %}
                {% endfor %}
                </td>
                {# <td>
                    <div class="btn-group" role="group">
                        {% if is_granted('ROLE_USER') %}
                        <!-- Wyświetl opcję związane z daną produkcją dostępne dla użytkownika -->
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                        <!-- Wyświetl opcję związane z daną produkcją dostępne dla administratora -->
                        <a href="/movies/edit/{{ movie.idProduction }}" class="btn btn-primary btn-sm mr-1"/>Edytuj</a>
                        <a href="/movies/delete/{{ movie.idProduction }}" class="btn btn-danger btn-sm"  onclick="return confirm('Jesteś pewien?')"/>Usuń</a>
                        {% endif %}
                    </div>
                </td> #}
            </tr>
        {% endfor %}
    </tbody>
</table>